/* animation */
.main_effect{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  
   
    display: -webkit-box;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .main{
  
      display: grid;
            grid-template-columns: repeat(3, 1fr);
  }
  
  .container {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
  
  .carousel {
  /*   transform: rotateY(-360deg); */
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .item {
    display: block;
    position: absolute;
    background: lightblue;
    opacity:1;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 3em;
    text-align: center;
    color: #000;
  }
  
  
  
  .front {
    transform: rotateY(0deg) translateZ(100px);
  }
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .back {
    transform: rotateY(180deg) translateZ(100px);
   
  }
  .left {
    transform: rotateY(270deg) translateZ(100px);
  }
  
  .top {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(100px) translateY(0px);
  }
  
  .bottom {
    transform: rotateX(-90deg) rotateZ(-90deg) translateZ(100px);
  
  }
  .back_back{
    transform: rotateY(360deg) translateZ(100px);
  }
  